**6. Computing VAEP from Wyscout data and comabining it with our metrics dataset (as generated from '3_metricscollection' notebook)**

The following tasks were taken into account in this notebook:

1. To convert the Wyscout data to SPADL format and to compute VAEP values using the Socceractions framework

2. Combine the VAEP values (as well as offensive and defensive values) with the existing metrics dataframe

The following results were saved as pickle files:

1. Cluster wise dataframes with VAEP, offensive and defensive value as additional features

# Imports

In [1]:
!pip install tables==3.6.1
!pip install socceraction==0.2.0

Requirement already satisfied: tables==3.6.1 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (3.6.1)
Requirement already satisfied: numexpr>=2.6.2 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from tables==3.6.1) (2.7.1)
Requirement already satisfied: numpy>=1.9.3 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from tables==3.6.1) (1.18.1)
Processing /Users/shreygrover/Library/Caches/pip/wheels/ad/b6/3c/8ae71bd96f4cc8ae86a4ee1fdbd7a6e29fc1e59cec98a543a6/socceraction-0.2.0-py3-none-any.whl
Requirement already satisfied: numpy in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from socceraction==0.2.0) (1.18.1)
Requirement already satisfied: tqdm in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from socceraction==0.2.0) (4.42.1)
Requirement already satisfied: pandas in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from socceraction==0.2.0) (1.0.5)
Requirement already satisfied: requests in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from socceraction==0.2.0) (2.23.0)
Requirement already satisfied: unidecode in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from socceraction==0.2.0) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from pandas->socceraction==0.2.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from pandas->socceraction==0.2.0) (2019.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from requests->socceraction==0.2.0) (1.25.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from requests->socceraction==0.2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from requests->socceraction==0.2.0) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from requests->socceraction==0.2.0) (2.8)
Requirement already satisfied: six>=1.5 in /Users/shreygrover/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->socceraction==0.2.0) (1.14.0)
ERROR: soccer-xg 0.0.1 has requirement socceraction<0.3.0,>=0.2.1, but you'll have socceraction 0.2.0 which is incompatible.
Installing collected packages: socceraction
  Attempting uninstall: socceraction
    Found existing installation: socceraction 0.2.1
    Uninstalling socceraction-0.2.1:
      Successfully uninstalled socceraction-0.2.1
Successfully installed socceraction-0.2.0

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from matplotlib.patches import Ellipse
import seaborn as sns
from math import *
import matplotlib.pylab as pyl
import pickle
import swifter
import warnings
import plotly.express as px
from itertools import chain
import scipy.stats as sps
from tqdm import tqdm
from unidecode import unidecode
import re
from io import BytesIO
from pathlib import Path
from tqdm.notebook import tqdm
from urllib.parse import urlparse
from urllib.request import urlopen, urlretrieve
from zipfile import ZipFile, is_zipfile
import pandas as pd
from sklearn.metrics import brier_score_loss, roc_auc_score  # version 0.22.2
from xgboost import XGBClassifier  # version 1.0.2

import socceraction.vaep.features as features
import socceraction.vaep.labels as labels

from socceraction.spadl.wyscout import convert_to_spadl
from socceraction.vaep.formula import value

In [3]:
#pd.set_option('max_colwidth', 999)
pd.set_option('display.max_columns', 1000)
pd.set_option("display.max_rows", 3000)

In [4]:
import warnings
warnings.filterwarnings('ignore', category=pd.io.pytables.PerformanceWarning)

# Preprocess the data

## Preprocess the Wyscout data

In [5]:
def read_json_file(filename):
    with open(filename, 'rb') as json_file:
        return BytesIO(json_file.read()).getvalue().decode('unicode_escape')

### Teams

In [6]:
json_teams = read_json_file('../../data/teams/teams.json')
df_teams = pd.read_json(json_teams)

In [7]:
df_teams.head(10)

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alavés,696,Deportivo Alavés,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
5,Troyes,Troyes,3795,Espérance Sportive Troyes Aube Champagne,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
6,Getafe (Madrid),Getafe,698,Getafe Club de Fútbol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
7,Mönchengladbach,Borussia M'gladbach,2454,Borussia VfL Mönchengladbach,"{'name': 'Germany', 'id': '276', 'alpha3code':...",club
8,"Huddersfield, West Yorkshire",Huddersfield Town,1673,Huddersfield Town FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
9,Bilbao,Athletic Club,678,Athletic Club Bilbao,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club

In [8]:
df_teams.to_hdf('wyscout.h5', key='teams', mode='w')

### Players

In [9]:
json_players = read_json_file('../../data/players/players.json')
df_players = pd.read_json(json_players)

In [10]:
df_players.head(10)

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,,Tekin,4502,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,,Sarr,3775,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423
2,"{'name': 'France', 'id': '250', 'alpha3code': ...",72,Over,,Mandanda,3772,1998-10-26,176,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'France', 'id': '250', 'alpha3code': ...",393230,,O. Mandanda,null
3,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",82,Alfred John Momar,,N'Diaye,683,1990-03-06,187,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'France', 'id': '250', 'alpha3code': ...",32793,right,A. N'Diaye,19314
4,"{'name': 'France', 'id': '250', 'alpha3code': ...",84,Ibrahima,,Konaté,2975,1999-05-25,192,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393247,right,I. Konaté,null
5,"{'name': 'Netherlands', 'id': '528', 'alpha3co...",83,Jasper,,Cillessen,676,1989-04-22,185,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Netherlands', 'id': '528', 'alpha3co...",33,right,J. Cillessen,664
6,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...",91,Toby,,Alderweireld,1624,1989-03-02,187,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Belgium', 'id': '56', 'alpha3code': ...",36,right,T. Alderweireld,5629
7,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...",88,Jan,,Vertonghen,1624,1987-04-24,189,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Belgium', 'id': '56', 'alpha3code': ...",48,left,J. Vertonghen,5629
8,"{'name': 'France', 'id': '250', 'alpha3code': ...",74,Alexander,,Djiku,3783,1994-08-09,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",229427,right,A. Djiku,null
9,"{'name': 'Denmark', 'id': '208', 'alpha3code':...",76,Christian,,Dannemann Eriksen,1624,1992-02-14,180,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Denmark', 'id': '208', 'alpha3code':...",54,right,C. Eriksen,7712

In [11]:
df_players.to_hdf('wyscout.h5', key='players', mode='a')

### Matches

In [12]:
competitions = [
     'England',
     'France',
     'Germany',
     'Italy',
     'Spain',
    'European Championship',
     'World Cup'
]

In [13]:
dfs_matches = []
for competition in competitions:
    competition_name = competition.replace(' ', '_')
    file_matches = f'../../data/matches/matches_{competition_name}.json'
    json_matches = read_json_file(file_matches)
    df_matches = pd.read_json(json_matches)
    dfs_matches.append(df_matches)
df_matches = pd.concat(dfs_matches)

In [14]:
df_matches.head(10)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId,groupName
0,Played,4405654,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385705, 'role': 'referee'}, {'r...",Regular,364,NaN
1,Played,4405654,38,"{'1628': {'scoreET': 0, 'coachId': 8357, 'side...",181150,2018-05-13 14:00:00,1628,Selhurst Park,2500090,"Crystal Palace - West Bromwich Albion, 2 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381851, 'role': 'referee'}, {'r...",Regular,364,NaN
2,Played,4405654,38,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 384965, 'role': 'referee'}, {'r...",Regular,364,NaN
3,Played,4405654,38,"{'1651': {'scoreET': 0, 'coachId': 8093, 'side...",181150,2018-05-13 14:00:00,1612,Anfield,2500092,"Liverpool - Brighton & Hove Albion, 4 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385704, 'role': 'referee'}, {'r...",Regular,364,NaN
4,Played,4405654,38,"{'1644': {'scoreET': 0, 'coachId': 93112, 'sid...",181150,2018-05-13 14:00:00,1611,Old Trafford,2500093,"Manchester United - Watford, 1 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381853, 'role': 'referee'}, {'r...",Regular,364,NaN
5,Played,4405654,38,"{'1613': {'scoreET': 0, 'coachId': 210700, 'si...",181150,2018-05-13 14:00:00,1613,St. James' Park,2500094,"Newcastle United - Chelsea, 3 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 384888, 'role': 'referee'}, {'r...",Regular,364,NaN
6,Played,4405654,38,"{'1625': {'scoreET': 0, 'coachId': 267136, 'si...",181150,2018-05-13 14:00:00,1625,St. Mary's Stadium,2500095,"Southampton - Manchester City, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385911, 'role': 'referee'}, {'r...",Regular,364,NaN
7,Played,4405654,38,"{'10531': {'scoreET': 0, 'coachId': 32573, 'si...",181150,2018-05-13 14:00:00,1639,Liberty Stadium,2500096,"Swansea City - Stoke City, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 378952, 'role': 'referee'}, {'r...",Regular,364,NaN
8,Played,4405654,38,"{'1631': {'scoreET': 0, 'coachId': 209010, 'si...",181150,2018-05-13 14:00:00,1624,Wembley Stadium,2500097,"Tottenham Hotspur - Leicester City, 5 - 4","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 378951, 'role': 'referee'}, {'r...",Regular,364,NaN
9,Played,4405654,38,"{'1623': {'scoreET': 0, 'coachId': 8541, 'side...",181150,2018-05-13 14:00:00,1633,London Stadium,2500098,"West Ham United - Everton, 3 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 408156, 'role': 'referee'}, {'r...",Regular,364,NaN

In [15]:
df_matches.to_hdf('wyscout.h5', key='matches', mode='a')

### Events

In [17]:
for competition in competitions:
    competition_name = competition.replace(' ', '_')
    file_events = f'../../data/events/events_{competition_name}.json'
    json_events = read_json_file(file_events)
    df_events = pd.read_json(json_events)
    df_events_matches = df_events.groupby('matchId', as_index=False)
    for match_id, df_events_match in df_events_matches:
        df_events_match.to_hdf('wyscout.h5', key=f'events/match_{match_id}', mode='a')

## Convert the Wyscout data to the SPADL representation

In [18]:
convert_to_spadl('wyscout.h5', 'spadl.h5')

...Inserting actiontypes
...Inserting bodyparts
...Inserting results
...Converting games

  0%|          | 0/1941 [00:00<?, ?game/s]

...Converting players
...Converting teams
...Generating player_games

100%|██████████| 1941/1941 [01:37<00:00, 19.85game/s]
  0%|          | 0/1941 [00:00<?, ?game/s]

...Converting events to actions

100%|██████████| 1941/1941 [1:13:46<00:00,  2.28s/game]

# Value game states

In [19]:
df_games = pd.read_hdf('spadl.h5', key='games')
df_actiontypes = pd.read_hdf('spadl.h5', key='actiontypes')
df_bodyparts = pd.read_hdf('spadl.h5', key='bodyparts')
df_results = pd.read_hdf('spadl.h5', key='results')

In [20]:
nb_prev_actions = 3

## Generate game state features

In [21]:
functions_features = [
    features.actiontype_onehot,
    features.bodypart_onehot,
    features.result_onehot,
    features.goalscore,
    features.startlocation,
    features.endlocation,
    features.movement,
    features.space_delta,
    features.startpolar,
    features.endpolar,
    features.team,
    features.time_delta
]

In [22]:
df_actions = pd.read_hdf('spadl.h5', key=f'actions/game_{2500089}')

In [23]:
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_actions = pd.read_hdf('spadl.h5', key=f'actions/game_{game_id}')
    df_actions = (df_actions
        .merge(df_actiontypes, how='left')
        .merge(df_results, how='left')
        .merge(df_bodyparts, how='left')
        .reset_index(drop=True)
    )
    
    dfs_gamestates = features.gamestates(df_actions, nb_prev_actions=nb_prev_actions)
    dfs_gamestates = features.play_left_to_right(dfs_gamestates, game['home_team_id'])
    
    df_features = pd.concat([function(dfs_gamestates) for function in functions_features], axis=1)
    df_features.to_hdf('features.h5', key=f'game_{game_id}')

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

## Generate game state labels

In [24]:
functions_labels = [
    labels.scores,
    labels.concedes
]

In [25]:
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_actions = pd.read_hdf('spadl.h5', key=f'actions/game_{game_id}')
    df_actions = (df_actions
        .merge(df_actiontypes, how='left')
        .merge(df_results, how='left')
        .merge(df_bodyparts, how='left')
        .reset_index(drop=True)
    )
    
    df_labels = pd.concat([function(df_actions) for function in functions_labels], axis=1)
    df_labels.to_hdf('labels.h5', key=f'game_{game_id}')

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

## Generate dataset

In [26]:
columns_features = features.feature_column_names(functions_features, nb_prev_actions=nb_prev_actions)

In [27]:
dfs_features = []
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_features = pd.read_hdf('features.h5', key=f'game_{game_id}')
    dfs_features.append(df_features[columns_features])
df_features = pd.concat(dfs_features).reset_index(drop=True)

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

In [28]:
df_features.head(10)

,type_pass_a0,type_cross_a0,type_throw_in_a0,type_freekick_crossed_a0,type_freekick_short_a0,type_corner_crossed_a0,type_corner_short_a0,type_take_on_a0,type_foul_a0,type_tackle_a0,type_interception_a0,type_shot_a0,type_shot_penalty_a0,type_shot_freekick_a0,type_keeper_save_a0,type_keeper_claim_a0,type_keeper_punch_a0,type_keeper_pick_up_a0,type_clearance_a0,type_bad_touch_a0,type_non_action_a0,type_dribble_a0,type_goalkick_a0,type_pass_a1,type_cross_a1,type_throw_in_a1,type_freekick_crossed_a1,type_freekick_short_a1,type_corner_crossed_a1,type_corner_short_a1,type_take_on_a1,type_foul_a1,type_tackle_a1,type_interception_a1,type_shot_a1,type_shot_penalty_a1,type_shot_freekick_a1,type_keeper_save_a1,type_keeper_claim_a1,type_keeper_punch_a1,type_keeper_pick_up_a1,type_clearance_a1,type_bad_touch_a1,type_non_action_a1,type_dribble_a1,type_goalkick_a1,type_pass_a2,type_cross_a2,type_throw_in_a2,type_freekick_crossed_a2,type_freekick_short_a2,type_corner_crossed_a2,type_corner_short_a2,type_take_on_a2,type_foul_a2,type_tackle_a2,type_interception_a2,type_shot_a2,type_shot_penalty_a2,type_shot_freekick_a2,type_keeper_save_a2,type_keeper_claim_a2,type_keeper_punch_a2,type_keeper_pick_up_a2,type_clearance_a2,type_bad_touch_a2,type_non_action_a2,type_dribble_a2,type_goalkick_a2,bodypart_foot_a0,bodypart_head_a0,bodypart_other_a0,bodypart_foot_a1,bodypart_head_a1,bodypart_other_a1,bodypart_foot_a2,bodypart_head_a2,bodypart_other_a2,result_fail_a0,result_success_a0,result_offside_a0,result_owngoal_a0,result_yellow_card_a0,result_red_card_a0,result_fail_a1,result_success_a1,result_offside_a1,result_owngoal_a1,result_yellow_card_a1,result_red_card_a1,result_fail_a2,result_success_a2,result_offside_a2,result_owngoal_a2,result_yellow_card_a2,result_red_card_a2,goalscore_team,goalscore_opponent,goalscore_diff,start_x_a0,start_y_a0,start_x_a1,start_y_a1,start_x_a2,start_y_a2,end_x_a0,end_y_a0,end_x_a1,end_y_a1,end_x_a2,end_y_a2,dx_a0,dy_a0,movement_a0,dx_a1,dy_a1,movement_a1,dx_a2,dy_a2,movement_a2,dx_a01,dy_a01,mov_a01,dx_a02,dy_a02,mov_a02,start_dist_to_goal_a0,start_angle_to_goal_a0,start_dist_to_goal_a1,start_angle_to_goal_a1,start_dist_to_goal_a2,start_angle_to_goal_a2,end_dist_to_goal_a0,end_angle_to_goal_a0,end_dist_to_goal_a1,end_angle_to_goal_a1,end_dist_to_goal_a2,end_angle_to_goal_a2,team_1,team_2,time_delta_1,time_delta_2
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,52.50,34.00,52.50,34.00,52.50,34.00,42.00,37.40,42.00,37.40,42.00,37.40,-10.50,3.40,11.036757,-10.50,3.40,11.036757,-10.50,3.40,11.036757,-1.050000e+01,3.400000e+00,1.103676e+01,-10.50,3.400000e+00,11.036757,52.500000,0.000000,52.500000,0.000000,52.500000,0.000000,63.091679,0.053916,63.091679,0.053916,63.091679,0.053916,True,True,0.000000,0.000000
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,42.00,37.40,52.50,34.00,52.50,34.00,40.95,57.80,42.00,37.40,42.00,37.40,-1.05,20.40,20.427004,-10.50,3.40,11.036757,-10.50,3.40,11.036757,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,0.000000,63.091679,0.053916,52.500000,0.000000,52.500000,0.000000,68.328929,0.355773,63.091679,0.053916,63.091679,0.053916,True,True,1.997756,1.997756
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,40.95,57.80,42.00,37.40,52.50,34.00,32.55,47.60,40.95,57.80,42.00,37.40,-8.40,-10.20,13.213629,-1.05,20.40,20.427004,-10.50,3.40,11.036757,0.000000e+00,0.000000e+00,0.000000e+00,1.05,-2.040000e+01,20.427004,68.328929,0.355773,63.091679,0.053916,52.500000,0.000000,73.715416,0.185556,68.328929,0.355773,63.091679,0.053916,True,True,0.771744,2.769500
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,32.55,47.60,40.95,57.80,42.00,37.40,69.30,48.96,32.55,47.60,40.95,57.80,36.75,1.36,36.775156,-8.40,-10.20,13.213629,-1.05,20.40,20.427004,0.000000e+00,0.000000e+00,0.000000e+00,8.40,1.020000e+01,13.213629,73.715416,0.185556,68.328929,0.355773,63.091679,0.053916,38.707772,0.396818,73.715416,0.185556,68.328929,0.355773,True,True,2.174464,2.946208
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,69.30,48.96,32.55,47.60,40.95,57.80,74.55,55.76,69.30,48.96,32.55,47.60,5.25,6.80,8.590838,36.75,1.36,36.775156,-8.40,-10.20,13.213629,0.000000e+00,0.000000e+00,0.000000e+00,-36.75,-1.360000e+00,36.775156,38.707772,0.396818,73.715416,0.185556,68.328929,0.355773,37.425928,0.620467,38.707772,0.396818,73.715416,0.185556,True,True,3.907382,6.081846
5,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,74.55,55.76,69.30,48.96,32.55,47.60,95.55,63.24,74.55,55.76,69.30,48.96,21.00,7.48,22.292384,5.25,6.80,8.590838,36.75,1.36,36.775156,0.000000e+00,0.000000e+00,0.000000e+00,-5.25,-6.800000e+00,8.590838,37.425928,0.620467,38.707772,0.396818,73.715416,0.185556,30.729141,1.258205,37.425928,0.620467,38.707772,0.396818,True,True,3.758730,7.666112
6,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,0,0,0,95.55,63.24,74.55,55.76,69.30,48.96,96.60,34.00,95.55,63.24,74.55,55.76,1.05,-29.24,29.258847,21.00,7.48,22.292384,5.25,6.80,8.590838,0.000000e+00,0.000000e+00,0.000000e+00,-21.00,-7.480000e+00,22.292384,30.729141,1.258205,37.425928,0.620467,38.707772,0.396818,8.400000,0.000000,30.729141,1.258205,37.425928,0.620467,True,True,2.210584,5.969314
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,0,0,0,8.40,34.00,9.45,4.76,30.45,12.24,2.10,8.16,8.40,34.00,9.45,4.76,-6.30,-25.84,26.596910,-1.05,29.24,29.258847,-21.00,-7.48,22.292384,5.329071e-15,0.000000e+00,5.329071e-15,1.05,-2.924000e+01,29.258847,96.600000,0.000000,99.923872,0.296969,77.660802,0.283995,106.094842,0.246030,96.600000,0.000000,99.923872,0.296969,False,False,1.756122,3.966706
8,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,0,0,0,102.90,59.84,96.60,34.00,95.55,63.24,102.90,59.84,102.90,59.84,96.60,34.00,0.00,0.00,0.000000,6.30,25.84,26.596910,1.05,-29.24,29.258847,0.000000e+00,0.000000e+00,0.000000e+00,-6.30,-2.584000e+01,26.596910,25.925192,1.489705,8.400000,0.000000,30.729141,1.258205,25.925192,1.489705,25.925192,1.489705,8.400000,0.000000,False,True,2.095783,3.851905
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,0,0,0,6.30,8.16,2.10,8.16,8.40,34.00,22.05,0.00,2.10,8.16,2.10,8.16,15.75,-8.16,17.738323,0.00,0.00,0.000000,-6.30,-25.84,26.596910,-4.200000e+00,-3.552714e-15,4.200000e+00,-4.20,-3.552714e-15,4.200000,102.026446,0.256057,106.094842,0.246030,96.600000,0.000000,89.647658,0.388999,106.094842,0.246030,106.094842,0.246030,False,True,3.034782,5.130565

In [29]:
columns_labels = [
    'scores',
    'concedes'
]

In [30]:
dfs_labels = []
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_labels = pd.read_hdf('labels.h5', key=f'game_{game_id}')
    dfs_labels.append(df_labels[columns_labels])
df_labels = pd.concat(dfs_labels).reset_index(drop=True)

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

In [31]:
df_labels.tail(10)

         scores  concedes
2465146    True     False
2465147    True     False
2465148    True     False
2465149    True     False
2465150    True     False
2465151    True     False
2465152   False      True
2465153   False      True
2465154    True     False
2465155   False     False

## Train classifiers

In [32]:
models = {}
for column_labels in columns_labels:
    model = XGBClassifier(n_estimators=100, max_depth=4)
    model.fit(df_features, df_labels[column_labels])
    models[column_labels] = model

In [49]:
filename = '../../data/vaep/finalised_vaep_model.pkl'
pickle.dump(model,open(filename,'wb'))

## Estimate probabilities

In [34]:
dfs_predictions = {}
for column_labels in columns_labels:
    model = models[column_labels]
    probabilities = model.predict_proba(df_features)
    predictions = probabilities[:, 1]
    dfs_predictions[column_labels] = pd.Series(predictions)
df_predictions = pd.concat(dfs_predictions, axis=1)

In [35]:
df_predictions.head(10)

     scores  concedes
0  0.003628  0.001496
1  0.005049  0.001750
2  0.003883  0.002318
3  0.014610  0.002321
4  0.018392  0.001865
5  0.020405  0.001477
6  0.011381  0.002902
7  0.001521  0.022920
8  0.021142  0.002600
9  0.001294  0.008486

The following cell obtains the `game_id` for each action in order to store the predictions per game.

In [36]:
dfs_game_ids = []
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_actions = pd.read_hdf('spadl.h5', key=f'actions/game_{game_id}')
    dfs_game_ids.append(df_actions['game_id'])
df_game_ids = pd.concat(dfs_game_ids, axis=0).astype('int').reset_index(drop=True)

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

In [37]:
df_predictions = pd.concat([df_predictions, df_game_ids], axis=1)

In [38]:
df_predictions.head(10)

     scores  concedes  game_id
0  0.003628  0.001496  2500089
1  0.005049  0.001750  2500089
2  0.003883  0.002318  2500089
3  0.014610  0.002321  2500089
4  0.018392  0.001865  2500089
5  0.020405  0.001477  2500089
6  0.011381  0.002902  2500089
7  0.001521  0.022920  2500089
8  0.021142  0.002600  2500089
9  0.001294  0.008486  2500089

In [39]:
df_predictions_per_game = df_predictions.groupby('game_id')

In [40]:
for game_id, df_predictions in tqdm(df_predictions_per_game):
    df_predictions = df_predictions.reset_index(drop=True)
    df_predictions[columns_labels].to_hdf('predictions.h5', key=f'game_{game_id}')

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

# Value on-the-ball actions - VAEP Values

<img src="./expl_photo/1.JPG">
<img src="./expl_photo/2.JPG">
<img src="./expl_photo/3.JPG">
<img src="./expl_photo/4.JPG">

In [41]:
df_players = pd.read_hdf('spadl.h5', key='players')
df_teams = pd.read_hdf('spadl.h5', key='teams')

In [42]:
dfs_values = []
for _, game in tqdm(df_games.iterrows(), total=len(df_games)):
    game_id = game['game_id']
    df_actions = pd.read_hdf('spadl.h5', key=f'actions/game_{game_id}')
    df_actions = (df_actions
        .merge(df_actiontypes, how='left')
        .merge(df_results, how='left')
        .merge(df_bodyparts, how='left')
        .merge(df_players, how='left')
        .merge(df_teams, how='left')
        .reset_index(drop=True)
    )
    
    df_predictions = pd.read_hdf('predictions.h5', key=f'game_{game_id}')
    df_values = value(df_actions, df_predictions['scores'], df_predictions['concedes'])
    
    df_all = pd.concat([df_actions, df_predictions, df_values], axis=1)
    dfs_values.append(df_all)

HBox(children=(FloatProgress(value=0.0, max=1941.0), HTML(value='')))

In [43]:
df_values = (pd.concat(dfs_values)
    .sort_values(['game_id', 'period_id', 'time_seconds'])
    .reset_index(drop=True)
)

In [44]:
pl_teams = ['Arsenal','Leicester City','Manchester City','Brighton & Hove Albion','Burnley','Chelsea',
            'Crystal Palace','Huddersfield Town','Everton','Stoke City','Manchester United','West Ham United',
            'Newcastle United','Tottenham Hotspur','Swansea City','Southampton','Watford','Liverpool',
            'West Bromwich Albion','AFC Bournemouth']

In [45]:
df_values_pl = df_values.loc[df_values['short_team_name'].isin(pl_teams)]

In [46]:
# df_values_pl.loc[(df_values_pl['game_id']==2499719.0)]

* scores = P_scores(Si, x) - prob(scoring in the next 10 actions) - obtained from the ML Model - given for the particular `state`
* concedes = P_concedes(Si, x) - prob(concedes in the next 10 actions) - obtained from the ML Model - given for the particular `state`
* offensive_value = P_scores(Si) - P_scores(Si-1) - given for the particular `action`
* defensive_value = P_concedes(Si-1) - P_concedes(Si) - given for the particular `action`

In [48]:
df_values_pl.to_pickle('../../data/vaep/vaep_values.pkl')

# VAEP for Defenders

## Pre-Processing

In [50]:
vaep_values = pd.read_pickle('../../data/vaep/vaep_values.pkl')
match_def = pd.read_pickle("../../data/matches/match+def_lineup+footedness_ver2.pkl")

In [52]:
vaep_values['short_team_name'].unique()

array(['Arsenal', 'Leicester City', 'Manchester City',
       'Brighton & Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace',
       'Huddersfield Town', 'Everton', 'Stoke City', 'Manchester United',
       'West Ham United', 'Newcastle United', 'Tottenham Hotspur',
       'Swansea City', 'Southampton', 'Watford', 'Liverpool',
       'West Bromwich Albion', 'AFC Bournemouth'], dtype=object)

In [53]:
match_def['team'].unique()

array(['Everton', 'Crystal Palace', 'AFC Bournemouth', 'West Ham United',
       'Tottenham Hotspur', 'Swansea City', 'Southampton',
       'Newcastle United', 'Manchester United', 'Liverpool',
       'Huddersfield Town', 'Burnley', 'Watford', 'Leicester City',
       'West Bromwich Albion', 'Arsenal', 'Brighton and Hove Albion',
       'Manchester City', 'Stoke City', 'Chelsea'], dtype=object)

In [54]:
vaep_values = vaep_values.replace({'short_team_name':{
        'Brighton & Hove Albion': 'Brighton and Hove Albion',
    }}
)

vaep_values['game_id'] = vaep_values['game_id'].astype(int)
vaep_values['temp'] = vaep_values['game_id'].astype(str) + vaep_values['short_team_name']
match_def['temp'] = match_def['wyId'].astype(str) + match_def['team']

In [55]:
vaep_values = vaep_values.merge(match_def[['temp', 'footedness']], left_on='temp', right_on='temp', how='left')
vaep_values.drop(columns = ['temp'], inplace=True)

In [56]:
vaep_values['name'] = vaep_values['first_name']+vaep_values['last_name']
vaep_values['name'] = vaep_values['name'].astype(str).apply(lambda x: unidecode(x))
vaep_values['name'] = vaep_values['name'].apply(lambda x: x.replace('-', ''))
vaep_values['name'] = vaep_values['name'].apply(lambda x: x.replace(' ', ''))
# vaep_values.loc[(vaep_values['last_name'].str.contains('PhilJa'))]

In [57]:
# Creating a key to identify each row using game_id, time_seconds and player name
vaep_values['key'] = vaep_values['game_id'].astype(str) + np.round(vaep_values['time_seconds'],6).astype(str) +vaep_values['name'].astype(str)

In [58]:
# vaep_values.loc[(vaep_values['name'].str.contains('AaronCre'))& (vaep_values['type_name']=='pass') &(vaep_values['game_id']==2499724)]

In [59]:
# Filtering the events that are labelled as pass and cross
vaep_values_pass = vaep_values.loc[(vaep_values['type_name'] == 'pass') | (vaep_values['type_name'] =='cross') ]

In [60]:
# Merging player roles to SPADL events data
df_players = pd.read_pickle('../../data/players/players.pkl')
roles_temp = df_players['role'].values
roles = list()
for i in roles_temp:
    roles.append(i['code3'])
players_roles = list(zip(roles,df_players['wyId'],df_players['playerName']))
df_players_roles = pd.DataFrame(players_roles,columns = ['role','playerId','playerName1'])
vaep_values_pass_proles = vaep_values_pass.merge(df_players_roles, left_on = 'player_id', right_on = 'playerId')
vaep_values_pass_proles.drop(['playerName1'], axis = 1, inplace = True)
vaep_values_pass_def = vaep_values_pass_proles.loc[vaep_values_pass_proles['role']=='DEF']

In [61]:
# Counting duplicate keys in the VAEP filtered dataframe. 
# Note: Some events in the dataframe have same key attributes (game_id, time_seconds and player name)
# When checked at a deeper level, these passes (roughly 30 of them) have the same player performing two 
# different passes from the same starting location to different end locations at the same time stamp.
# We have ignored these 30 passes from our analysis
vaep_values_pass_def['key'].value_counts()

2499949441.226554HectorBellerinMoruno           2
2499949297.681393LaurentKoscielny               2
2499949433.742393LaurentKoscielny               2
24999722087.498654NicolasHernanOtamendi         2
2499949252.025934LaurentKoscielny               2
                                               ..
24999812561.037408MathiasJattahNjieJorgensen    1
25000512721.541132MathiasJattahNjieJorgensen    1
24999231987.337018JoelAndreJobMatip             1
24997402773.059709CesarAzpilicuetaTanco         1
2500009340.912114DannyRose                      1
Name: key, Length: 141940, dtype: int64

In [62]:
# vaep_values_pass_def.loc[vaep_values_pass_def['key'].str.contains('2499949256.961055LaurentKoscielny')]

In [63]:
# Importing Wyscout events data
df_events_wyscout = pd.read_pickle('../../data/events/events_v2.pkl')

In [64]:
# Filtering out passes events which were performed by defenders in Wyscout events data
df_events_wyscout_pass = df_events_wyscout.loc[(df_events_wyscout['eventName']=='Pass') & (df_events_wyscout['role']=='DEF')]

In [65]:
# Creating a key to identify each row using matchid, event_seconds and player name
df_events_wyscout_pass['key'] = df_events_wyscout_pass['matchId'].astype(str) + np.round(df_events_wyscout_pass['eventSec'],6).astype(str) + df_events_wyscout_pass['playerName'].astype(str)

/Users/shreygrover/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
# df_events_wyscout_pass.loc[df_events_wyscout_pass['key'].str.contains('2499949256.961055LaurentKoscielny')]

In [67]:
# Appending VAEP values along with offensive and defensive values to Wyscout events data from VAEP data
# by joining the two dataframes
df_events_vaep = df_events_wyscout_pass.merge(vaep_values_pass_def[[
    'key', 'vaep_value', 'offensive_value', 'defensive_value'
]],
                                              how='left',
                                              left_on='key',
                                              right_on='key')

In [107]:
len(df_events_vaep)

609317

In [68]:
# Total number of passes in Wyscout events data['']
# df_events_vaep.loc[(df_events_vaep['playerName'].str.contains("AaronCres")) & ((df_events_vaep['eventName'].str.contains("Pass"))) & (df_events_vaep['matchId']==2500098)]

## Metrics Collection & Clustering

In [69]:
footedness_patterns = match_def["footedness"].unique()

In [70]:
match_def.rename(columns={'R-CB':'R_CB',"L-CB":'L_CB'},inplace=True)

**Creating seperate dataframes for each defensive lineup based for preferred foot of each defender**

In [71]:
df_rrrl = match_def.loc[match_def['footedness']=='right-right-right-left']
df_rrll = match_def.loc[match_def['footedness']=='right-right-left-left']
df_rrl = match_def.loc[match_def['footedness']=='right-right-left']
df_rrr = match_def.loc[match_def['footedness']=='right-right-right']
df_rll = match_def.loc[match_def['footedness']=='right-left-left']
df_rrrll = match_def.loc[match_def['footedness']=='right-right-right-left-left']
df_rrlr = match_def.loc[match_def['footedness']=='right-right-left-right']
df_rrrr = match_def.loc[match_def['footedness']=='right-right-right-right']
df_rrrrl = match_def.loc[match_def['footedness']=='right-right-right-right-left']
df_rlr = match_def.loc[match_def['footedness']=='right-left-right']
df_rrrlr = match_def.loc[match_def['footedness']=='right-right-right-left-right']
df_rrlll = match_def.loc[match_def['footedness']=='right-right-left-left-left']
df_rlll = match_def.loc[match_def['footedness']=='right-left-left-left']

**Creating a list of such dataframes**

In [72]:
df_clusters = [df_rrrl,df_rrll,df_rrl,df_rrr,df_rll,df_rrrll,df_rrlr,df_rrrr,df_rrrrl,df_rlr,df_rrrlr,df_rrlll,df_rlll]

**Creating a dictionary of mapping of players with a mismatch in names in events data and Premier League parsed data**

In [73]:
player_map = {  'RamiroFunesMori': 'JoseRamiroFunesMori',
                'KurtZouma': 'KurtHappyZouma',
                'Danilo': 'DaniloLuizdaSilva',
                'CesarAzpilicueta': 'CesarAzpilicuetaTanco',
                'EzequielSchelotto': 'MatiasEzequielSchelotto',
                'GaetanBong': 'GaetanBongSongo',
                'HectorBellerin': 'HectorBellerinMoruno',
                'AhmedHegazi': 'AhmedHegazy',
                'JamaalLascelles': 'JamalLascelles',
                'AngelRangel': 'AngelRangelZaragoza',
                'Zanka': 'MathiasJattahNjieJorgensen',
                'EricBailly': 'EricBertrandBailly',
                'MarcosRojo': 'FaustinoMarcosAlbertoRojo',
                'AngeloOgbonna': 'AngeloObinzeOgbonna',
                'DavinsonSanchez': 'DavinsonSanchezMina',
                'JavierManquillo': 'JavierManquilloGaitan',
                'TommySmith': 'TomSmith',
                'Bruno': 'BrunoSaltorGrau',
                'JosephGomez': 'JoeGomez',
                'AlbertoMoreno':'AlbertoMorenoPerez',
                'LuisAntonioValencia':'LuisAntonioValenciaMosquera',
                'NicolasOtamendi':'NicolasHernanOtamendi',
                'NachoMonreal':'IgnacioMonrealEraso',
                'CedricSoares':'CedricRicardoAlvesSoares',
                'JoelMatip':'JoelAndreJobMatip',
                'MiguelBritos':'MiguelAngelBritosCabrera',
                'VictorLindelof':'VictorNilssonLindelof',
                'JamesCollins':'JamesMichaelCollins',
                'CucoMartina':'RhuendlyMartina',
                'DavidLuiz':'DavidLuizMoreiraMarinho',
                'ChancelMbemba':'ChancelMbembaMangulu',
                'PabloZabaleta':'PabloJavierZabaletaGirod',
                'KikoFemenia':'FranciscoFemeniaFar',
                'JoseFonte':'JoseMigueldaRochaFonte',
                'JesusGamez':'JesusGamezDuarte'}

**Creating a metrics collection function that takes in x (match_id) and y (player name) and returns the standard metrics-**

In [74]:
def getmetrics(x, y):
    try:
        y = player_map[y]
    except:
        pass
    split_y = re.findall('[A-Z][^A-Z]*', y)
    try:
        pass_df = df_events_vaep.loc[
            (df_events_vaep['playerName'].str.contains(split_y[-1]))
            & (df_events_vaep['playerName'].str.contains(split_y[-2])) &
            (df_events_vaep['matchId'] == int(x))]
    except:
        pass_df = df_events_vaep.loc[
            (df_events_vaep['playerName'].str.contains(split_y[-1]))
            & (df_events_vaep['matchId'] == int(x))]
    numpasses = len(pass_df)
    numaccpasses = len(
        pass_df.loc[pass_df['tags'].apply(lambda a: "Accurate" in a)])
    accpasslocs = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Accurate" in a)]['positions'].tolist()
    inaccpasslocs = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Not accurate" in a)]['positions'].tolist()
    acc_vaep_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Accurate" in a)]['vaep_value'].tolist()
    inacc_vaep_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Not accurate" in a)]['vaep_value'].tolist()
    acc_off_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Accurate" in a)]['offensive_value'].tolist()
    inacc_off_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Not accurate" in a)]['offensive_value'].tolist()
    acc_def_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Accurate" in a)]['defensive_value'].tolist()
    inacc_def_values = pass_df.loc[pass_df['tags'].apply(
        lambda a: "Not accurate" in a)]['defensive_value'].tolist()

    return [
        numpasses, numaccpasses, accpasslocs, inaccpasslocs, acc_vaep_values,
        inacc_vaep_values, acc_off_values, inacc_off_values, acc_def_values,
        inacc_def_values
    ]

In [75]:
# getmetrics(2500081,"Bruno")

In [76]:
new_cols = ['RB_all',
            'R_CB_all',
            'L_CB_all',
            'LB_all',
            'RCB_all',
            'CB_all',
            'LCB_all',
            'RWB_all',
            'LWB_all']

**Collecting metrics for each defender location for various clusters**

In [78]:
#R_CB - Right center back for 4 defender formation
#RCB - Right center back for 3 or 5 defender formation
#L_CB - Left center back for 4 defender formation
#LCB - Left center back for 3 or 5 defender formation
df_clusters_updated = list()
for df in tqdm(df_clusters):
    df = df.reindex(columns = df.columns.tolist() + new_cols)
    if df.iloc[0]['backline'] == 4.0:     
        df['RB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.RB), axis=1)
        df['R_CB_all'] = df.apply(lambda x: getmetrics(x.wyId,x['R_CB']), axis=1)
        df['L_CB_all'] = df.apply(lambda x: getmetrics(x.wyId,x['L_CB']), axis=1)
        df['LB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.LB), axis=1)
        df_clusters_updated.append(df)
    
    elif df.iloc[0]['backline'] == 3.0:
        df['RCB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.RCB), axis=1)
        df['CB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.CB), axis=1)
        df['LCB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.LCB), axis=1)
        df_clusters_updated.append(df)
        
    elif df.iloc[0]['backline'] == 5.0:
        df['RWB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.RWB), axis=1)
        df['RCB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.RCB), axis=1)
        df['CB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.CB), axis=1)
        df['LCB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.LCB), axis=1)
        df['LWB_all'] = df.apply(lambda x: getmetrics(x.wyId,x.LWB), axis=1)
        df_clusters_updated.append(df)

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

**Splitting the metrics into individual columns**

In [79]:
df_clusters_metrics = list()
for df in tqdm(df_clusters_updated):
    if df.iloc[0]['backline'] == 4.0:
        df[[
            'RB_pass', 'RB_accpass', 'RB_accpassloc', 'RB_inaccpassloc',
            'RB_accvaep', 'RB_inaccvaep', 'RB_accoff', 'RB_inaccoff',
            'RB_accdef', 'RB_inaccdef'
        ]] = pd.DataFrame(df['RB_all'].to_list(), index=df.index)
        df[[
            'R_CB_pass', 'R_CB_accpass', 'R_CB_accpassloc',
            'R_CB_inaccpassloc', 'R_CB_accvaep', 'R_CB_inaccvaep',
            'R_CB_accoff', 'R_CB_inaccoff', 'R_CB_accdef', 'R_CB_inaccdef'
        ]] = pd.DataFrame(df['R_CB_all'].to_list(), index=df.index)
        df[[
            'L_CB_pass', 'L_CB_accpass', 'L_CB_accpassloc',
            'L_CB_inaccpassloc', 'L_CB_accvaep', 'L_CB_inaccvaep',
            'L_CB_accoff', 'L_CB_inaccoff', 'L_CB_accdef', 'L_CB_inaccdef'
        ]] = pd.DataFrame(df['L_CB_all'].to_list(), index=df.index)
        df[[
            'LB_pass', 'LB_accpass', 'LB_accpassloc', 'LB_inaccpassloc',
            'LB_accvaep', 'LB_inaccvaep', 'LB_accoff', 'LB_inaccoff',
            'LB_accdef', 'LB_inaccdef'
        ]] = pd.DataFrame(df['LB_all'].to_list(), index=df.index)
        df.drop([
            'RB_all', 'R_CB_all', 'L_CB_all', 'LB_all', 'RCB_all', 'LCB_all',
            'CB_all', 'RWB_all', 'LWB_all'
        ],
                axis=1,
                inplace=True)
        df_clusters_metrics.append(df)

    elif df.iloc[0]['backline'] == 3.0:
        df[[
            'RCB_pass', 'RCB_accpass', 'RCB_accpassloc', 'RCB_inaccpassloc',
            'RCB_accvaep', 'RCB_inaccvaep', 'RCB_accoff', 'RCB_inaccoff',
            'RCB_accdef', 'RCB_inaccdef'
        ]] = pd.DataFrame(df['RCB_all'].to_list(), index=df.index)
        df[[
            'CB_pass', 'CB_accpass', 'CB_accpassloc', 'CB_inaccpassloc',
            'CB_accvaep', 'CB_inaccvaep', 'CB_accoff', 'CB_inaccoff',
            'CB_accdef', 'CB_inaccdef'
        ]] = pd.DataFrame(df['CB_all'].to_list(), index=df.index)
        df[[
            'LCB_pass', 'LCB_accpass', 'LCB_accpassloc', 'LCB_inaccpassloc',
            'LCB_accvaep', 'LCB_inaccvaep', 'LCB_accoff', 'LCB_inaccoff',
            'LCB_accdef', 'LCB_inaccdef'
        ]] = pd.DataFrame(df['LCB_all'].to_list(), index=df.index)
        df.drop([
            'RB_all', 'R_CB_all', 'L_CB_all', 'LB_all', 'RCB_all', 'LCB_all',
            'CB_all', 'RWB_all', 'LWB_all'
        ],
                axis=1,
                inplace=True)
        df_clusters_metrics.append(df)

    elif df.iloc[0]['backline'] == 5.0:
        df[[
            'RCB_pass', 'RCB_accpass', 'RCB_accpassloc', 'RCB_inaccpassloc',
            'RCB_accvaep', 'RCB_inaccvaep', 'RCB_accoff', 'RCB_inaccoff',
            'RCB_accdef', 'RCB_inaccdef'
        ]] = pd.DataFrame(df['RCB_all'].to_list(), index=df.index)
        df[[
            'CB_pass', 'CB_accpass', 'CB_accpassloc', 'CB_inaccpassloc',
            'CB_accvaep', 'CB_inaccvaep', 'CB_accoff', 'CB_inaccoff',
            'CB_accdef', 'CB_inaccdef'
        ]] = pd.DataFrame(df['CB_all'].to_list(), index=df.index)
        df[[
            'LCB_pass', 'LCB_accpass', 'LCB_accpassloc', 'LCB_inaccpassloc',
            'LCB_accvaep', 'LCB_inaccvaep', 'LCB_accoff', 'LCB_inaccoff',
            'LCB_accdef', 'LCB_inaccdef'
        ]] = pd.DataFrame(df['LCB_all'].to_list(), index=df.index)
        df[[
            'RWB_pass', 'RWB_accpass', 'RWB_accpassloc', 'RWB_inaccpassloc',
            'RWB_accvaep', 'RWB_inaccvaep', 'RWB_accoff', 'RWB_inaccoff',
            'RWB_accdef', 'RWB_inaccdef'
        ]] = pd.DataFrame(df['RWB_all'].to_list(), index=df.index)
        df[[
            'LWB_pass', 'LWB_accpass', 'LWB_accpassloc', 'LWB_inaccpassloc',
            'LWB_accvaep', 'LWB_inaccvaep', 'LWB_accoff', 'LWB_inaccoff',
            'LWB_accdef', 'LWB_inaccdef'
        ]] = pd.DataFrame(df['LWB_all'].to_list(), index=df.index)
        df.drop([
            'RB_all', 'R_CB_all', 'L_CB_all', 'LB_all', 'RCB_all', 'LCB_all',
            'CB_all', 'RWB_all', 'LWB_all'
        ],
                axis=1,
                inplace=True)
        df_clusters_metrics.append(df)

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

In [108]:
df_clusters_metrics[0].loc[df_clusters_metrics[0]['wyId']==2500089]

,wyId,team,team_defense,RB,R_CB,L_CB,LB,RCB,CB,LCB,RWB,LWB,backline,match,gameweek,teamsData,dateutc,venue,referees,score,footedness,temp,RB_pass,RB_accpass,RB_accpassloc,RB_inaccpassloc,RB_accvaep,RB_inaccvaep,RB_accoff,RB_inaccoff,RB_accdef,RB_inaccdef,R_CB_pass,R_CB_accpass,R_CB_accpassloc,R_CB_inaccpassloc,R_CB_accvaep,R_CB_inaccvaep,R_CB_accoff,R_CB_inaccoff,R_CB_accdef,R_CB_inaccdef,L_CB_pass,L_CB_accpass,L_CB_accpassloc,L_CB_inaccpassloc,L_CB_accvaep,L_CB_inaccvaep,L_CB_accoff,L_CB_inaccoff,L_CB_accdef,L_CB_inaccdef,LB_pass,LB_accpass,LB_accpassloc,LB_inaccpassloc,LB_accvaep,LB_inaccvaep,LB_accoff,LB_inaccoff,LB_accdef,LB_inaccdef
11,2500089,Burnley,"[MatthewLowton, KevinLong, JamesTarkowski, Ste...",MatthewLowton,KevinLong,JamesTarkowski,StephenWard,NaN,NaN,NaN,NaN,NaN,4.0,Burnley-AFC Bournemouth,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",2018-05-13 14:00:00,Turf Moor,"[{'refereeId': 385705, 'role': 'referee'}, {'r...",1 - 2,right-right-right-left,2500089Burnley,38,25,"[[[33.28, 11.56], [20.8, 23.8]], [[12.48, 9.52...","[[[67.6, 6.8], [76.96, 0.0]], [[28.08, 8.84], ...","[0.0011006828863173723, 0.00801292434334755, 0...","[-0.007049093022942543, 0.0012342056725174189,...","[-0.0001301635056734085, -0.000179836759343743...","[-0.004554690793156624, 0.0018916875123977661,...","[0.0012308463919907808, 0.008192760869860649, ...","[-0.0024944019969552755, -0.000657481839880347...",45,39,"[[[20.8, 23.8], [7.28, 31.28]], [[10.4, 10.2],...","[[[37.44, 37.4], [63.44, 48.96]], [[45.76, 33....","[-0.0014702430926263332, 0.005621695891022682,...","[-0.004378382116556168, -0.005427076481282711,...","[-0.0010089944116771221, -0.000449455808848142...","[-0.0035393645521253347, -0.004665496293455362...","[-0.0004612486809492111, 0.006071151699870825,...","[-0.0008390173316001892, -0.000761580420657992...",39,32,"[[[33.28, 63.92], [61.36, 67.32]], [[35.36, 57...","[[[36.4, 51.68], [69.68, 59.84]], [[7.28, 57.1...","[0.0026389099657535553, -1.3850978575646877e-0...","[-0.0026198537088930607, -0.005911990068852901...","[0.0030088734347373247, -0.0006259232759475708...","[-0.0017644562758505344, -0.000271227909252047...","[-0.0003699633525684476, 0.0006120722973719239...","[-0.0008553974330425262, -0.005640762392431498...",47,23,"[[[72.8, 63.92], [79.04, 65.96]], [[32.24, 57....","[[[43.68, 59.16], [74.88, 65.96]], [[102.96, 2...","[0.0004555538762360811, -0.00287072267383337, ...","[-0.0022187165450304747, -0.039802778512239456...","[0.0003273291513323784, -0.0023691633250564337...","[-0.0012894300743937492, -0.0397501215338707, ...","[0.00012822472490370274, -0.000501559232361614...","[-0.0009292864706367254, -5.265767686069012e-0..."

In [82]:
# Saving the clusters into individual pickle files
names = ['rrrl','rrll','rrl','rrr','rll','rrrll','rrlr','rrrr','rrrrl','rlr','rrrlr','rrlll','rlll']

for i,df in enumerate(df_clusters_metrics):
    df.to_pickle(f'../../data/clusters/clusters_vaep/cluster_{names[i]}.pkl')

# Value sums per Team per Match

In [85]:
vaep_values = pd.read_pickle('../../data/vaep/vaep_values.pkl')
match_def = pd.read_pickle("../../data/matches/match+def_lineup+footedness_ver2.pkl")

In [86]:
vaep_values = vaep_values.replace({'short_team_name':{
        'Brighton & Hove Albion': 'Brighton and Hove Albion'
    }}
)

vaep_values['game_id'] = vaep_values['game_id'].astype(int)
vaep_values['temp'] = vaep_values['game_id'].astype(str) + vaep_values['short_team_name']
match_def['temp'] = match_def['wyId'].astype(str) + match_def['team']

In [87]:
vaep_values = vaep_values.merge(match_def[['temp', 'footedness']], left_on='temp', right_on='temp', how='left')
vaep_values.drop(columns = ['temp'], inplace=True)

In [88]:
vaep_values['name'] = vaep_values['first_name']+vaep_values['last_name']
vaep_values['name'] = vaep_values['name'].astype(str).apply(lambda x: unidecode(x))
vaep_values['name'] = vaep_values['name'].apply(lambda x: x.replace('-', ''))
vaep_values['name'] = vaep_values['name'].apply(lambda x: x.replace(' ', ''))
# vaep_values.loc[(vaep_values['last_name'].str.contains('PhilJa'))]

In [89]:
# Creating a key to identify each row using game_id, time_seconds and player name
vaep_values['key'] = vaep_values['game_id'].astype(str) + np.round(vaep_values['time_seconds'],6).astype(str) +vaep_values['name'].astype(str)

In [90]:
# vaep_values.loc[(vaep_values['name'].str.contains('AaronCre'))& (vaep_values['type_name']=='pass') &(vaep_values['game_id']==2499724)]

In [91]:
# Filtering the events that are labelled as pass and cross
vaep_values_pass = vaep_values#.loc[(vaep_values['type_name'] == 'pass') | (vaep_values['type_name'] =='cross') ]

In [92]:
# Merging player roles to SPADL events data
df_players = pd.read_pickle('../../data/players/players.pkl')
roles_temp = df_players['role'].values
roles = list()
for i in roles_temp:
    roles.append(i['code3'])
players_roles = list(zip(roles,df_players['wyId'],df_players['playerName']))
df_players_roles = pd.DataFrame(players_roles,columns = ['role','playerId','playerName1'])
vaep_values_pass_proles = vaep_values_pass.merge(df_players_roles, left_on = 'player_id', right_on = 'playerId')
vaep_values_pass_proles.drop(['playerName1'], axis = 1, inplace = True)
vaep_values_pass_def = vaep_values_pass_proles#.loc[vaep_values_pass_proles['role']=='DEF']

In [93]:
# Importing Wyscout events data
df_events_wyscout = pd.read_pickle('../../data/events/events_v2.pkl')

In [94]:
# Filtering out passes events which were performed by defenders in Wyscout events data
df_events_wyscout_pass = df_events_wyscout#.loc[(df_events_wyscout['eventName']=='Pass') & (df_events_wyscout['role']=='DEF')]

In [95]:
# Creating a key to identify each row using matchid, event_seconds and player name
df_events_wyscout_pass['key'] = df_events_wyscout_pass['matchId'].astype(str) + np.round(df_events_wyscout_pass['eventSec'],6).astype(str) + df_events_wyscout_pass['playerName'].astype(str)

In [96]:
# Appending VAEP values along with offensive and defensive values to Wyscout events data from VAEP data
# by joining the two dataframes
df_events_vaep = df_events_wyscout_pass.merge(vaep_values_pass_def[[
    'key', 'vaep_value', 'offensive_value', 'defensive_value'
]],
                                              how='left',
                                              left_on='key',
                                              right_on='key')

In [109]:
len(df_events_vaep)

609317

**Creating DF for Value sums per team per match**

In [98]:
value_sums = pd.DataFrame(df_events_vaep.groupby(['matchId', 'teamId']))

In [110]:
value_sums.head()

,offsum_regionwise,vaepsum_regionwise,team_name,match_id
0,"[0.008872812148183584, 0.3449347550049424, 0.8...","[0.005850694258697331, 0.3173894425854087, 0.7...",Arsenal,2499719
1,"[2.1650491072796285, 0.6611172530101612, 0.403...","[2.0625359127297997, 0.6439085232559592, 0.334...",Leicester City,2499719
2,"[0.4810514331329614, 0.9121930369874462, 0.624...","[0.32630410650745034, 0.8620082812849432, 0.57...",Manchester City,2499720
3,"[-0.022033099317923188, 0.1337635952513665, 0....","[-0.06919947441201657, 0.09574798995163292, 0....",Brighton and Hove Albion,2499720
4,"[0.0856203967705369, 0.6818049850407988, 0.794...","[0.12690815760288388, 0.5602604085579515, 0.72...",Chelsea,2499721

In [99]:
def value_sum_regionwise(df):
    off_sum = [0,0,0,0]
    vaep_sum = [0,0,0,0]
    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)
    for i in range(len(df)):
        try:
            if (df['positions'][i][1][0] >= 52) and (df['positions'][i][1][1] <= 17):
                off_sum[0]+= df['offensive_value'].loc[i]
                vaep_sum[0]+= df['vaep_value'].loc[i]
            elif (df['positions'][i][1][0] >= 52) and (df['positions'][i][1][1] > 17) and (df['positions'][i][1][1] <= 34):
                off_sum[1]+= df['offensive_value'].loc[i]
                vaep_sum[1]+= df['vaep_value'].loc[i]
            elif (df['positions'][i][1][0] >= 52) and (df['positions'][i][1][1] > 34) and (df['positions'][i][1][1] <= 51):
                off_sum[2]+= df['offensive_value'].loc[i]
                vaep_sum[2]+= df['vaep_value'].loc[i]
            elif (df['positions'][i][1][0] >= 52) and (df['positions'][i][1][1] > 51):
                off_sum[3]+= df['offensive_value'].loc[i]
                vaep_sum[3]+= df['vaep_value'].loc[i]
            else:
                continue
        except:
            print(i)
            
    return off_sum, vaep_sum

In [100]:
value_sums['offsum_regionwise'] = value_sums[1].apply(lambda x: value_sum_regionwise(x)[0])
value_sums['vaepsum_regionwise'] = value_sums[1].apply(lambda x: value_sum_regionwise(x)[1])

148
189
350
379
214
348
244
540
393
573
5
168
623
557
718
123
323
111
501
150
295
67
294
498
386
478
542
282
306
325
392
364
431
604
552
329
402
291
528
184
211
409
119
384
234
430
139
67
293
227
72
189
164
70
137
755
85
282
103
135
471
610
303
241
407
617
216
317
81
143
9
376
167
213
348
202
129
401
378
292
261
138
416
223
430
409
866
47
287
289
136
17
51
260
22
523
184
18
299
429
275
105
205
245
486
461
335
248
429
176
419
69
162
46
394
106
321
356
148
189
350
379
214
348
244
540
393
573
5
168
623
557
718
123
323
111
501
150
295
67
294
498
386
478
542
282
306
325
392
364
431
604
552
329
402
291
528
184
211
409
119
384
234
430
139
67
293
227
72
189
164
70
137
755
85
282
103
135
471
610
303
241
407
617
216
317
81
143
9
376
167
213
348
202
129
401
378
292
261
138
416
223
430
409
866
47
287
289
136
17
51
260
22
523
184
18
299
429
275
105
205
245
486
461
335
248
429
176
419
69
162
46
394
106
321
356

In [101]:
value_sums.head()

,0,1,offsum_regionwise,vaepsum_regionwise
0,"(2499719, 1609)",eventId subEventName \ 0 ...,"[0.008872812148183584, 0.3449347550049424, 0.8...","[0.005850694258697331, 0.3173894425854087, 0.7..."
1,"(2499719, 1631)",eventId subEventName \ 0 ...,"[2.1650491072796285, 0.6611172530101612, 0.403...","[2.0625359127297997, 0.6439085232559592, 0.334..."
2,"(2499720, 1625)",eventId subEventName \ 0 ...,"[0.4810514331329614, 0.9121930369874462, 0.624...","[0.32630410650745034, 0.8620082812849432, 0.57..."
3,"(2499720, 1651)",eventId subEventName \ 0 ...,"[-0.022033099317923188, 0.1337635952513665, 0....","[-0.06919947441201657, 0.09574798995163292, 0...."
4,"(2499721, 1610)",eventId subEventName \ 0 ...,"[0.0856203967705369, 0.6818049850407988, 0.794...","[0.12690815760288388, 0.5602604085579515, 0.72..."

In [102]:
teams = pd.read_json('../../data/teams/teams.json')

In [103]:
value_sums['team_name'] = value_sums[0].apply(lambda x: teams[teams['wyId']==x[1]]['name'].values[0])

In [104]:
value_sums['match_id'] = value_sums[0].apply(lambda x: x[0])

In [105]:
value_sums = value_sums.replace({'team_name':{
        'Brighton & Hove Albion': 'Brighton and Hove Albion'
    }}
)

In [106]:
value_sums.drop(columns=[0,1], inplace=True)
value_sums.head()

,offsum_regionwise,vaepsum_regionwise,team_name,match_id
0,"[0.008872812148183584, 0.3449347550049424, 0.8...","[0.005850694258697331, 0.3173894425854087, 0.7...",Arsenal,2499719
1,"[2.1650491072796285, 0.6611172530101612, 0.403...","[2.0625359127297997, 0.6439085232559592, 0.334...",Leicester City,2499719
2,"[0.4810514331329614, 0.9121930369874462, 0.624...","[0.32630410650745034, 0.8620082812849432, 0.57...",Manchester City,2499720
3,"[-0.022033099317923188, 0.1337635952513665, 0....","[-0.06919947441201657, 0.09574798995163292, 0....",Brighton and Hove Albion,2499720
4,"[0.0856203967705369, 0.6818049850407988, 0.794...","[0.12690815760288388, 0.5602604085579515, 0.72...",Chelsea,2499721

In [111]:
value_sums.to_pickle('../../data/vaep/value_sums.pkl')